In [1]:
# load pandas
import pandas as pd
import numpy as np

# load data
censusTract = pd.read_csv("https://data.wprdc.org/datastore/dump/9756af5f-3320-4601-84e2-347d64071e25")
walkScore = pd.read_csv("https://data.wprdc.org/dataset/4d3d4324-b32a-4519-b56f-cee2340057bf/resource/"
                                       + "682b1df1-a63b-4413-9362-ba077af63baa/download/walkscorect.xls-walk-score-by-ct.csv")

#Display the data table for Walk Score. 
walkScore

     Census Tract  Walk Score
0           10300          82
1           20100         100
2           20300          83
3           30500          77
4           40200          71
..            ...         ...
397        981000          54
398        981100          51
399        981200          75
400        981800          35
401        982200          82

[402 rows x 2 columns]

In [2]:
# Delete all columns except census tract numbers and neighborhood names.
censusTract = censusTract[['tractce10','hood']]

# Display the modified version of censusTract.
censusTract

     tractce10                      hood
0        40500           Central Oakland
1        40400             North Oakland
2        40200              West Oakland
3        30500          Crawford-Roberts
4       980000  Lincoln-Lemington-Belmar
..         ...                       ...
133     270100          Brighton Heights
134     980900        Marshall-Shadeland
135     250700      California-Kirkbride
136     270400        Marshall-Shadeland
137     980800             South Oakland

[138 rows x 2 columns]

In [3]:
# Rename the census tract number column of censusTract in order to merge the two data tables.
censusTract.rename(columns={'tractce10': 'Census Tract'}, inplace=True)

# Merge the two data tables.
walkScore = pd.merge(censusTract, walkScore)

# Display the new data table. 
walkScore

     Census Tract                      hood  Walk Score
0           40500           Central Oakland          78
1           40400             North Oakland          82
2           40200              West Oakland          71
3           30500          Crawford-Roberts          77
4          980000  Lincoln-Lemington-Belmar          72
..            ...                       ...         ...
133        270100          Brighton Heights          48
134        980900        Marshall-Shadeland          35
135        250700      California-Kirkbride          58
136        270400        Marshall-Shadeland          48
137        980800             South Oakland          74

[138 rows x 3 columns]

In [6]:
walkScore.sort_values(by = ['Walk Score'], ascending = False)

     Census Tract                       hood  Walk Score
6           20100  Central Business District         100
42          60300        Lower Lawrenceville          91
90          70300                  Shadyside          91
79          70900                  Shadyside          89
37         220600          Central Northside          89
..            ...                        ...         ...
69         563000                    Windgap          22
103        310200              Lincoln Place          20
23         562900                  Hazelwood          18
10         261200                Summer Hill           9
125        310300              New Homestead           2

[138 rows x 3 columns]