In [47]:
import pandas as pd
import geopandas as gpd
import numpy as np
%matplotlib inline

# load obesity data and map data
obesity_data_pandas = pd.read_csv("obesity-ac-2006-2010censustracts.csv", index_col="stname")
popden = pd.read_csv("population-density.xls.csv",index_col = "Neighborhood")
censusTract = pd.read_csv("https://data.wprdc.org/datastore/dump/9756af5f-3320-4601-84e2-347d64071e25")
walkScore = pd.read_csv("https://data.wprdc.org/dataset/4d3d4324-b32a-4519-b56f-cee2340057bf/resource/"
                                       + "682b1df1-a63b-4413-9362-ba077af63baa/download/walkscorect.xls-walk-score-by-ct.csv")

In [48]:
popden['Pop. 2010'] = popden['Pop. 2010'].astype(int)
popden['Land Area (acres)'] = popden['Land Area (acres)'].astype(float)
rpopden = popden.iloc[:,[8,16,19]]

rpopden.sort_values(by = ['Pop. 2010','Land Area (acres)'], ascending = False)

                     Pop. 2010  Land Area (acres)  Persons / acre (2010)
Neighborhood
Squirrel Hill South      15110            1709.44                    8.8
Shadyside                13915             589.44                   23.6
Brookline                13214            1332.48                    9.9
Squirrel Hill North      11363             782.08                   14.5
North Oakland            10551             319.36                   33.0
...                        ...                ...                    ...
West End                   254             128.00                    2.0
Arlington Heights          244              84.48                    2.9
St. Clair                  209             198.40                    1.1
South Shore                 19             135.68                    0.1
Chateau                     11             245.12                    0.0

[90 rows x 3 columns]

In [49]:
# Delete all columns except census tract numbers and neighborhood names.
censusTract = censusTract[['tractce10','hood']]

# Rename the census tract number column of censusTract in order to merge the two data tables.
censusTract.rename(columns={'tractce10': 'Census Tract'}, inplace=True)

# Merge the two data tables.
walkScore = pd.merge(censusTract, walkScore)

# Display the new data table. 
walkScore.rename(columns={'hood': 'Neighborhood'}, inplace=True)
walkScore

     Census Tract              Neighborhood  Walk Score
0           40500           Central Oakland          78
1           40400             North Oakland          82
2           40200              West Oakland          71
3           30500          Crawford-Roberts          77
4          980000  Lincoln-Lemington-Belmar          72
..            ...                       ...         ...
133        270100          Brighton Heights          48
134        980900        Marshall-Shadeland          35
135        250700      California-Kirkbride          58
136        270400        Marshall-Shadeland          48
137        980800             South Oakland          74

[138 rows x 3 columns]

In [23]:
# filter obesity rates by neighborhood and sort from highest rate to lowest rate
obesity_rates_by_neighborhood = obesity_data_pandas.groupby("City Neighborhood").mean()['2006-2010 estimate of obesity']
obesity_rates_by_neighborhood.sort_values(ascending=False).head(20)

City Neighborhood
Northview Heights            0.922932
Fairywood                    0.820311
California Kirkbride         0.771046
Saint Clair                  0.699500
Terrace Village              0.674103
Central Business District    0.668012
Bedford Dwellings            0.636222
Homewood South               0.609697
Middle Hill                  0.608099
Homewood North               0.596425
Lincoln-Lemington-Belmar     0.578902
Homewood West                0.565710
East Hills                   0.562137
Garfield                     0.525117
Larimer                      0.517559
Fineview                     0.499129
Manchester                   0.498043
Crawford Roberts             0.488691
Marshall-Shadeland           0.480103
Beltzhoover                  0.479978
Name: 2006-2010 estimate of obesity, dtype: float64

In [20]:
# merge data by neighborhood
merged_dataset = pd.merge(pd.merge(rpopden, walkScore, on=''))

KeyError: 'Neighborhood'