<h1>Final Calculations</h1>

<h3>Introduction</h3>
If a zombie apocalypse were to occur, the likelihood of survivng would be slim. A person would be more likely to turn into a zombie. Therefore, our way of determining the best neighborhood in Pittsburgh would be the best place for a zombie to survive.

<h3>Combining and Analyzing Data</h3>

<h4>Importing and Organizing Data to Merge</h4>

In [14]:
import pandas as pd
import geopandas as gpd
import numpy as np
%matplotlib inline

# load obesity data and map data
obesity_data_pandas = pd.read_csv("obesity-ac-2006-2010censustracts.csv", index_col="stname")
popden = pd.read_csv("population-density.xls.csv",index_col = "Neighborhood")
censusTract = pd.read_csv("https://data.wprdc.org/datastore/dump/9756af5f-3320-4601-84e2-347d64071e25")
walkScore = pd.read_csv("https://data.wprdc.org/dataset/4d3d4324-b32a-4519-b56f-cee2340057bf/resource/"
                                       + "682b1df1-a63b-4413-9362-ba077af63baa/download/walkscorect.xls-walk-score-by-ct.csv")

In [15]:
popden['Pop. 2010'] = popden['Pop. 2010'].astype(int)
popden['Land Area (acres)'] = popden['Land Area (acres)'].astype(float)
rpopden = popden.iloc[:,[8,16,19]]

rpopden.sort_values(by = ['Pop. 2010','Land Area (acres)'], ascending = False)

                     Pop. 2010  Land Area (acres)  Persons / acre (2010)
Neighborhood
Squirrel Hill South      15110            1709.44                    8.8
Shadyside                13915             589.44                   23.6
Brookline                13214            1332.48                    9.9
Squirrel Hill North      11363             782.08                   14.5
North Oakland            10551             319.36                   33.0
...                        ...                ...                    ...
West End                   254             128.00                    2.0
Arlington Heights          244              84.48                    2.9
St. Clair                  209             198.40                    1.1
South Shore                 19             135.68                    0.1
Chateau                     11             245.12                    0.0

[90 rows x 3 columns]

In [17]:
# Organizing walk score data. (Look at walkscore notebook for more information)
censusTract = censusTract[['tractce10','hood']]

censusTract.rename(columns={'tractce10': 'Census Tract'}, inplace=True)

walkScore = pd.merge(censusTract, walkScore)

# Display the new data table. 
walkScore.rename(columns={'hood': 'Neighborhood'}, inplace=True)
walkScore = walkScore.groupby("Neighborhood").mean()['Walk Score']
walkScore

Neighborhood
Allegheny West         86.0
Allentown              63.0
Arlington              26.0
Banksville             48.0
Bedford Dwellings      77.0
                       ...
Upper Hill             74.0
Upper Lawrenceville    49.0
West Oakland           71.0
Westwood               54.0
Windgap                22.0
Name: Walk Score, Length: 79, dtype: float64

In [5]:
# filter obesity rates by neighborhood and sort from highest rate to lowest rate
obesity_data_pandas.rename(columns={'City Neighborhood': 'Neighborhood'}, inplace=True)
obesity_rates_by_neighborhood = obesity_data_pandas.groupby('Neighborhood').mean()['2006-2010 estimate of obesity']
obesity_rates_by_neighborhood.sort_values(ascending=False).head(20)

Neighborhood
Northview Heights            0.922932
Fairywood                    0.820311
California Kirkbride         0.771046
Saint Clair                  0.699500
Terrace Village              0.674103
Central Business District    0.668012
Bedford Dwellings            0.636222
Homewood South               0.609697
Middle Hill                  0.608099
Homewood North               0.596425
Lincoln-Lemington-Belmar     0.578902
Homewood West                0.565710
East Hills                   0.562137
Garfield                     0.525117
Larimer                      0.517559
Fineview                     0.499129
Manchester                   0.498043
Crawford Roberts             0.488691
Marshall-Shadeland           0.480103
Beltzhoover                  0.479978
Name: 2006-2010 estimate of obesity, dtype: float64

<h4>Testing other ways of sorting data</h4>

In [43]:
neighborhood_value = dict()
line = 0
for neighborhood in rpopden.index:
    if neighborhood not in neighborhood_value:
        neighborhood_value[neighborhood] = line
    else:
        neighborhood_value[neighborhood] = neighborhood_value[neighborhood] + line
    line += 1

#neighborhood_values = pd.Series(neighborhood_value)
#neighborhood_values

In [45]:
line1 = 0
for neighborhood in walkScore.index:
    if neighborhood not in neighborhood_value:
        neighborhood_value[neighborhood] = line1
    else:
        neighborhood_value[neighborhood] = neighborhood_value[neighborhood] + line1
    line1 += 1

#neighborhood_values = pd.Series(neighborhood_value)
#neighborhood_values

In [48]:
line2 = 0
for neighborhood in rpopden.index:
    if neighborhood not in neighborhood_value:
        neighborhood_value[neighborhood] = line2
    else:
        neighborhood_value[neighborhood] = neighborhood_value[neighborhood] + line2
    line2 += 1

In [51]:
neighborhood_values = pd.Series(neighborhood_value)
neighborhood_values.sort_values().head(20)

Allegheny Center              0
Allegheny West                3
Allentown                     8
Arlington Heights            12
Arlington                    13
Banksville                   21
Bedford Dwellings            26
Beechview                    31
Bon Air                      33
Beltzhoover                  36
Bloomfield                   41
Bluff                        46
Brighton Heights             54
Brookline                    59
Chartiers City               60
California-Kirkbride         64
Carrick                      69
Central Business District    74
East Carnegie                78
Central Lawrenceville        79
dtype: int64

<h4>Merging Data by Neighborhood</h4>

In [6]:
# merge data by neighborhood
merged_dataset = pd.merge(pd.merge(rpopden, walkScore, on='Neighborhood'), obesity_rates_by_neighborhood, on='Neighborhood')
merged_dataset

,Pop. 2010,Land Area (acres),Persons / acre (2010),Walk Score,2006-2010 estimate of obesity
Neighborhood,,,,,
Allegheny West,462,90.24,5.1,86.0,0.206399
Allentown,2500,188.80,13.2,63.0,0.353925
Arlington,1869,300.80,6.2,26.0,0.334520
Banksville,4144,620.16,6.7,48.0,0.239786
Bedford Dwellings,1202,114.56,10.5,77.0,0.636222
...,...,...,...,...,...
Terrace Village,3228,218.88,14.7,60.0,0.674103
Upper Hill,2057,200.32,10.3,74.0,0.455786
Upper Lawrenceville,2669,259.20,10.3,49.0,0.334694
Westwood,3066,442.88,6.9,54.0,0.268106
Windgap,1369,265.60,5.2,22.0,0.340615

In [47]:
merged_dataset.sort_values(by=['Pop. 2010','Land Area (acres)','Walk Score', '2006-2010 estimate of obesity'], ascending=False).head(10)

,Pop. 2010,Land Area (acres),Persons / acre (2010),Walk Score,2006-2010 estimate of obesity
Neighborhood,,,,,
Squirrel Hill South,15110,1709.44,8.8,59.200000,0.172928
Shadyside,13915,589.44,23.6,86.600000,0.127718
Brookline,13214,1332.48,9.9,46.250000,0.280167
Squirrel Hill North,11363,782.08,14.5,72.666667,0.125941
North Oakland,10551,319.36,33.0,79.666667,0.104579
Carrick,10113,1070.72,9.4,54.000000,0.305025
Mount Washington,8799,729.60,12.1,64.500000,0.268163
Bloomfield,8442,449.28,18.8,84.400000,0.232352
Beechview,7974,934.40,8.5,47.000000,0.288799
Greenfield,7294,494.72,14.7,55.500000,0.263491

<h3>Conclusion</h3>